<app-menu-app></app-menu-app>
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="card my-5">
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" #promoCodeAdd="ngForm">
            <div class="form-group">
              <label for="name">PromoNumber</label>
              <input type="number" [(ngModel)]="promoCode.promoNumber"
                     class="form-control"
                     id="name"
                     name="name"
                     placeholder="Enter your promoNumber"
                     required #promoNumber="ngModel">
            </div>
            <div [hidden]="!promoNumber.pristine" class="alert alert-danger">PromoNumber is required</div>

            <div class="form-group">
              <label for="name">Code</label>
              <input type="text" [(ngModel)]="promoCode.code"
                     class="form-control"
                     id="PromoNumber"
                     name="name"
                     placeholder="Enter your promoNumber"
                     required #code="ngModel">

              <div [hidden]="!code.pristine" class="alert alert-danger">Code is required</div>

            </div>
            <div class="btn-group">
              <a (click)="gotoList()"
                 class="btn btn-secondary mx-1">Back
              </a>
              <button type="submit" [disabled]="!promoCodeAdd.form.valid"
                      class="btn btn-info">Submit
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>

