<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h5 class="panel-title">
            Change password
          </h5>
        </div>
        <form (ngSubmit)="onSubmit()" [formGroup]= myGroup >
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 "> <br>
                <img alt="" class="img-thumbnail" *ngIf="photos | async as photo"  [src]="photo[0].url">
              </div>
              <div style="margin-top:80px;" class="col-xs-6 col-sm-6 col-md-6 login-box">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <div class="btn-group">
                        <i class="btn btn-secondary btn-sm fa fa-lock fa-2x" aria-hidden="true"></i>
                        <label for="Pass"> </label>
                        <input id="Pass" type="password" placeholder="New Password" formControlName="password">

                      </div>
                    </div>

                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <div class="btn-group">
                        <i class="btn btn-secondary btn-sm fa fa-unlock-alt fa-2x" aria-hidden="true"></i>
                        <label for="newPass"> </label>
                        <input id="newPass" type="password" placeholder="Confirm new Password" formControlName="confirmPassword">

                      </div>
                    </div>

                  </div>
                </div>

                <div class="panel-footer" style="margin-top: 60px">
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6"></div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <button  class="btn icon-btn-save btn-success" type="submit" [disabled]="ifPasswordMatch()">
                        <span class="btn-save-label mr-1"><i class="fa fa-floppy-o" aria-hidden="true"></i></span>save</button>
                    </div>
                  </div>
                </div>

              </div>



            </div>



          </div>
        </form>

      </div>
    </div>
  </div>
</div>

