<app-menu-app></app-menu-app>
<div class="container">
  <div class="row">
    <div class="col-md-12">

    <div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #categoryEdit="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="category.name"
               class="name"
               id="name"
               name="name"
               placeholder="Enter continent name"
               required #name="ngModel">
        <div [hidden]="!name.pristine" class="alert alert-danger">Category name is required</div>
      </div>
      <div class="btn-group">
        <a (click)="gotoCategoryList()"
           class="btn btn-secondary mx-1">Back
        </a>
        <button type="submit" [disabled]="!categoryEdit.form.valid"
                class="btn btn-info">Submit
        </button>
      </div>
    </form>
  </div>
</div>

    </div>
  </div>
</div>
