<app-menu-app></app-menu-app>
<div class="container">
  <div class="row">
    <div class="col-md-12">
<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #countryAdd="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="product.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Enter product name"
               required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" [(ngModel)]="product.description"
               class="form-control"
               id="description"
               name="description"
               placeholder="Enter product description"
               required #description="ngModel">
      </div>
      <div [hidden]="!description.pristine" class="alert alert-danger">Description is required</div>
      <div class="form-group">
        <label for="productType">Product Type</label>

        <select type="text" [(ngModel)]="product.productType"
                class="form-control"
                id="productType"
                name="productType"
                placeholder="Select user type"
                required #productTypeField="ngModel">

          <option *ngFor="let prodType of producttypes" [ngValue]="prodType">{{prodType}}</option>
        </select>

        <div [hidden]="!productTypeField.pristine" class="alert alert-danger">Product Type is required</div>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="text" [(ngModel)]="product.price"
               class="form-control"
               id="price"
               name="price"
               placeholder="Enter product description"
               required #price="ngModel">
      </div>
      <div [hidden]="!price.pristine" class="alert alert-danger">Price is required</div>
      <div class="form-group">
        <label for="continents">Categories</label>
        <ng-multiselect-dropdown
          [data]="category"
          [placeholder]="'Select the Category'"
          id="continents"
          [(ngModel)]="selectedCategory"
          [ngModelOptions]="{standalone: true}"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
          <div [hidden]="" class="alert alert-danger">Categories is required</div>
        </ng-multiselect-dropdown>
      </div>
      <div class="form-group">
        <label for="manufacturer">Manufacturers</label>
        <ng-multiselect-dropdown
          [data]="manufacturers"
          [placeholder]="'Select the Manufacturer'"
          id="manufacturer"
          [(ngModel)]="selectedManufacturer"
          [ngModelOptions]="{standalone: true}"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
          <div [hidden]="" class="alert alert-danger">Manufacturer is required</div>
        </ng-multiselect-dropdown>
      </div>

      <div *ngIf="currentFile" class="progress">
        <div
          class="progress-bar progress-bar-info progress-bar-striped"
          role="progressbar"
          attr.aria-valuenow="{{ progress }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: progress + '%' }"
        >
          {{ progress }}%
        </div>
      </div>

      <label class="btn btn-default">
        <input type="file" (change)="selectFile($event)" />
      </label>


      <div class="alert alert-light" role="alert">{{ message }}</div>

      <div class="btn-group">
        <a (click)="getList()"
           class="btn btn-secondary mx-1">Back
        </a>
        <button type="submit" [disabled]="!countryAdd.form.valid"
                class="btn btn-info">Submit
        </button>
      </div>
    </form>
  </div>
</div>
    </div>
  </div>
</div>
