<div id="clasamea">
  <div id="main-wrapper" class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="card border-0">
          <div class="card-body p-0">
            <div class="row no-gutters">
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="mb-5">
                    <h3 class="h4 font-weight-bold text-theme">Login</h3>
                  </div>
                  <h6 class="h5 mb-0">Welcome back!</h6>
                  <p class="text-muted mt-2 mb-5">Enter your email address and password to access admin panel.</p>
                  <form>
                    <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
                    <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" [(ngModel)]="username"
                             [ngModelOptions]="{standalone: true}"
                             id="exampleInputEmail1">
                    </div>
                    <div class="form-group mb-5">
                      <label for="password" >Password</label>
                      <input type="password" class="form-control" [(ngModel)]="password"
                             [ngModelOptions]="{standalone: true}"
                             id="password">
                    </div>
                    <button type="submit" (click)="handleLogin()" class="btn btn-theme">Login</button>
                    <a  class="forgot-link float-right text-primary">Forgot password?</a>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 d-none d-lg-inline-block">
                <div class="account-block rounded-right">
                  <div class="overlay rounded-right"></div>
                  <div class="account-testimonial">
                    <h4 class="text-white mb-4"></h4>
                    <p class="lead text-white"></p>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end card-body -->
        </div>
        <!-- end card -->
        <div id="aa">
          <p class="text-muted text-center mt-3 mb-sm-4">Don't have an account? <a (click)="goToRegister()" class="text-primary ml-1">register</a></p>
        </div>
        <!-- end row -->
      </div>
      <!-- end col -->
    </div>
    <!-- Row -->
  </div>
</div>
