<nav class="navbar navbar-expand-sm navbar-light bg-dark">
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-secondary dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>Administrator</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem><a class="dropdown-item" href="/categories">Category</a></button>
          <button ngbDropdownItem><a class="dropdown-item" href="/subcategories">Subcategory</a></button>
          <button ngbDropdownItem><a class="dropdown-item" href="/manufacturers">Manufacturer</a></button>
          <button ngbDropdownItem><a class="dropdown-item" href="/products">Product</a></button>
        </div>
      </div>
    </div>
  </div>
</nav>


