<nav class="navbar navbar-expand-sm navbar-light bg-dark">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Administrator
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" routerLink="/categories">Category</a>
      <a class="dropdown-item" routerLink="/product">Product</a>
    </div>
  </div>
</nav>
