<app-menu-app></app-menu-app>
<div class="container">
  <div class="row">
    <div class="col-md-12">

<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th class="align-middle" scope="col">#</th>
        <th class="align-middle" scope="col">Subcategory name</th>
        <th class="align-middle" scope="col">Category name</th>
        <th class="align-middle" scope="col">
          <div class="row d-flex align-items-center">
            <div class="col">
              Operations
            </div>
            <div class="col">
              <button (click)="add()" class="btn btn-outline-success "> Add Category </button>
            </div>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let subcategory of subcategories" >
        <td>{{ (subcategories.indexOf(subcategory)+1)}}</td>
        <td>{{subcategory.name }}</td>
        <td>{{subcategory.parent.name}}</td>
        <td>
          <div class="btn-group">
            <button (click)="edit(subcategory.id)" class="btn btn-outline-primary mx-1"> Edit </button>
            <button (click)="open(content, subcategory.id)" class="btn btn-outline-danger"> Delete </button>

          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm dialog</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12 text-center">
        Are you sure you want to delete this item?
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Delete click')">Delete</button>
  </div>
</ng-template>

    </div>
  </div>
</div>
