<div class="card my-5">
  <div class="card-body">
    <h2>Add privilege</h2>
    <hr>
    <form (ngSubmit)="onSubmit()" #privilegeForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="privilege.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Enter privilege name"
               required #name="ngModel">
      </div>

      <div class="btn-group">
        <a (click)="goToPrivilegeList()"
           class="btn btn-secondary mx-1">Back
        </a>
        <button type="submit" [disabled]="!privilegeForm.form.valid"
                class="btn btn-info">Submit
        </button>
      </div>
    </form>
  </div>
</div>

