<app-menu-app *ngIf="isLoggedIn"></app-menu-app>
<div class="container">
  <div class="row">
    <div class="col-md-12">

<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" [formGroup]= myGroup #manufacturerAdd="ngForm">
      <div class="form-group">
        <label for="name">Full name</label>
        <input type="text" formControlName="name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Enter your Full name"
               required #formControlName>
      </div>
      <div [hidden]="!formControlName" class="alert alert-danger">Full name is required</div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email"
               class="form-control"
               id="email"
               name="email"
               placeholder="Enter your email"
               required #formControlName>
      </div>
      <div [hidden]="!formControlName" class="alert alert-danger">email is required</div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password"
               class="form-control"
               id="password"
               name="password"
               placeholder="Enter your password"
               required #formControlName>
      </div>
      <div [hidden]="!formControlName" class="alert alert-danger">password is required</div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" formControlName="confirmPassword"
               class="form-control"
               id="confirmPassword"
               name="confirmPassword"
               placeholder="Confirm new password"
               (keyup)="matchPasswords()">
      </div>
      <div [hidden]="matched"  class="alert alert-danger">Passwords don't match</div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="number" formControlName="street"
               class="form-control"
               id="phone"
               name="phone"
               placeholder="Enter your phone"
               required #formControlName >
      </div>
      <div [hidden]="!formControlName" class="alert alert-danger">Phone is required</div>
      <div class="form-group">
        <label for="street">Street</label>
        <input type="text" formControlName="street"
               class="form-control"
               id="street"
               name="street"
               placeholder="Enter your street"
               required #formControlName >
      </div>
      <div [hidden]="!formControlName" class="alert alert-danger">Street is required</div>

      <div class="form-group">
        <label for="city">City</label>
        <input type="text" formControlName="city"
               class="form-control"
               id="city"
               name="city"
               placeholder="Enter your city"
               required #formControlName>
      </div>
      <div [hidden]="!formControlName" class="alert alert-danger">City is required</div>

      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" formControlName="country"
               class="form-control"
               id="country"
               name="country"
               placeholder="Enter your country"
               required #formControlName>
      </div>
      <div [hidden]="!formControlName" class="alert alert-danger">Country is required</div>

      <div class="form-group">
        <label for="zipcode">Zip Code</label>
        <input type="number" formControlName="zipcode"
               class="form-control"
               id="zipcode"
               name="zipcode"
               placeholder="Enter your zipCode"
               required #formControlName>
      </div>
      <div [hidden]="!formControlName" class="alert alert-danger">ZipCode is required</div>


      <div class="form-group">
      <label for="photo" class="btn btn-primary">Select Photo </label>
        <input id="photo" name="photo"
               type="file"
               (change)="selectFile($event)"
               required #formControlName/>
      </div>

      <div *ngIf="currentFile" class="progress">
        <div
          class="progress-bar progress-bar-info progress-bar-striped"
          role="progressbar"
          attr.aria-valuenow="{{ progress }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: progress + '%' }"
        >
          {{ progress }}%
        </div>
      </div>

      <div class="alert alert-light" role="alert">{{ message }}</div>

      <div class="btn-group">
        <a (click)="getAll()"
           class="btn btn-secondary mx-1">Back
        </a>
        <button type="submit" [disabled]="!manufacturerAdd.form.valid"
                class="btn btn-outline-primary">Submit
        </button>
      </div>
    </form>
  </div>
</div>

    </div>
  </div>
</div>
