<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #manufacturerAdd="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="user.email"
               class="form-control"
               id="name"
               name="name"
               placeholder="Enter your email"
               required #email="ngModel">
      </div>
      <div [hidden]="!email.pristine" class="alert alert-danger">v is required</div>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="user.url"
               class="form-control"
               id="url"
               name="name"
               placeholder="Enter your email"
               required #url="ngModel">
      </div>
      <div [hidden]="!url.pristine" class="alert alert-danger">url is required</div>


      <div class="btn-group">
        <a (click)="getAll()"
           class="btn btn-secondary mx-1">Back
        </a>
        <button type="submit" [disabled]="!manufacturerAdd.form.valid"
                class="btn btn-info">Submit
        </button>
      </div>
    </form>
  </div>
</div>


