<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #privilegeAdd="ngForm">
<div class="form-group">
  <label for="privileges">Categories</label>
  <ng-multiselect-dropdown
    [data]="privileges"
    [placeholder]="'Select a Privilege'"
    id="privileges"
    [(ngModel)]="selectedPrivileges"
    [ngModelOptions]="{standalone: true}"
    [settings]="dropdownSettings"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)"
  >
    <div [hidden]="" class="alert alert-danger">Privilege is required</div>

  </ng-multiselect-dropdown>
  <button type="submit" [disabled]="!privilegeAdd.form.valid"
          class="btn btn-info">Submit
  </button>
</div>
    </form>
  </div>
</div>
