<head>
  <title></title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<!------ Include the above in your HEAD tag
---------->
<html>
<div class="container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-5 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Please sign up <small>It's free!</small></h3>
        </div>
        <div class="panel-body">
          <form role="form" (ngSubmit)="onSubmit()" [formGroup]= myGroup>

            <div class="form-group">
              <p class="stea" >*</p>
              <label for="full_name"></label>
              <input type="text" name="first_name" id="full_name"
                     class="form-control input-sm floatlabel"
                     formControlName="name"
                     placeholder="Full Name">
            </div>

            <div class="form-group">
              <p class="stea" >*</p>
              <label for="email"></label>
              <input type="email" name="email" id="email"
                     class="form-control input-sm"
                     formControlName="email"
                     placeholder="Email Address">
            </div>

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <p class="stea" >*</p>
                  <label for="password"></label>
                  <input type="password" name="password"
                         id="password" class="form-control input-sm"
                         formControlName="password"
                         placeholder="Password">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <p class="stea" >*</p>
                  <label for="password_confirmation"></label>
                  <input type="password" name="password_confirmation"
                         id="password_confirmation" class="form-control input-sm"
                         formControlName="confirmPassword"
                         placeholder="Confirm Password">
                </div>
                <div [hidden]="matchPassword()"  class="alert alert-danger">Passwords don't match</div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <p class="stea" >*</p>
                  <label for="phone"></label>
                  <input type="number" name="phone" id="phone"
                         class="form-control input-sm"
                         formControlName="phone"
                         placeholder="Mobile">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <p class="stea" >*</p>
                  <label for="country"></label>
                  <input type="country" name="country" id="country"
                         class="form-control input-sm"
                         formControlName="country"
                         placeholder="Country">
                </div>
              </div>
            </div>

            <div class="row">


              <div class=" col-md-6">

                <div >
                  <div class="col-md-14 ">

                    <div class="form-group">
                      <p class="stea" >*</p>
                      <label for="city"></label>
                      <input type="text" name="city" id="city"
                             formControlName="city"
                             class="form-control input-sm" placeholder="City">
                    </div>
                  </div>
                </div>
                <div>
                  <div class="col-md-14 ">

                    <div class="form-group">
                      <p class="stea" >*</p>
                      <label for="street"></label>
                      <input type="text" name="street" id="street"
                             formControlName="street"
                             class="form-control input-sm" placeholder="Street">
                    </div>
                  </div>
                </div>
                <div>
                  <div class="col-md-14 ">

                    <div class="form-group">
                      <p class="stea" >*</p>
                      <label for="zipcode"></label>
                      <input type="number" name="zipcode" id="zipcode"
                             formControlName="zipcode"
                             class="form-control input-sm" placeholder="Zip Code">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6" >
                <div >
                  <div class="col-md-14">
                    <div class="text-center">
                      <div *ngIf="!previewUrl">
                        <img src="https://tanzolymp.com/images/default-non-user-no-photo-1.jpg" class="avatar img-circle" alt="avatar">
                      </div>
                      <div *ngIf="previewUrl">
                        <img [src]="previewUrl"  class="avatar img-circle" alt="avatar" />
                      </div>
                      <h6 *ngIf="!previewUrl">No photo selected...</h6>
                      <h6 *ngIf="previewUrl">New photo selected...</h6>
                      <div class="btn-group">
                        <div class="btn-group">
                          <label > <i class="fa fa-upload fa-3x fa-check" ></i>
                            <input  type="file" name="image" (change)="selectFile($event)" />
                          </label>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div *ngIf="currentFile" class="progress">
                    <div
                      class="progress-bar progress-bar-info progress-bar-striped"
                      role="progressbar"
                      attr.aria-valuenow="{{ progress }}"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      [ngStyle]="{ width: progress + '%' }"
                    >
                      {{ progress }}%
                    </div>
                  </div>
                </div>
              </div>


            </div>
            <p class="stea" >*</p> <p>These fields are required</p>
            <p></p>
            <div class="btn-group">

              <button type="submit"  class="btn btn-primary " [disabled]="!formCompleted()">
                Register
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</html>
